@charset "UTF-8";

@font-face {
  font-family: San Francisco;
  font-weight: 100;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff);
}

@font-face {
  font-family: San Francisco;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff);
}

@font-face {
  font-family: San Francisco;
  font-weight: 700;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff);
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: #313131;
  background-color: transparent;
}

.main__container-resume,
.main__resume {
  -webkit-animation: fadeUp ease-in 1;
  animation: fadeUp ease-in 1;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.main__project-title:after,
.main__resume:after {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.main__project-title:active:after,
.main__project-title:focus:after,
.main__project-title:hover:after,
.main__resume:active:after,
.main__resume:focus:after,
.main__resume:hover:after {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes animStar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.info__button {
  font-weight: 700;
  line-height: 22px;
  position: relative;
  display: block;
  width: 200px;
  margin: 30px auto auto;
  padding: 11px 24px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  background: #fff;
  color: #fff;
  border-color: #fff;
  background: #462373;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
}

.info__button:after {
  font-family: FontAwesome;
  font-size: 12px;
  float: right;
  content: "";
}

.info__button:hover {
  color: #462373;
  background-color: #fff;
}

.info-footer__social {
  font-size: 22px;
}

.info-footer__social,
.info-footer__social a {
  float: right;
  margin-left: 10px;
  padding-top: 4px;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
  text-decoration: none;
  color: #fff;
}

.info-footer__social a:hover {
  color: #313131;
}

.info-footer__social {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 27px;
}

.main__container,
.main__container-about {
  display: block;
  clear: both;
  overflow: auto;
  margin: 40px 0 0;
}

.main__container-about {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.main__container-resume {
  display: block;
  clear: both;
  overflow: auto;
  margin: 40px 0 0;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.main__container-resume {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.main__container-resume {
  margin: 40px 0;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.main__project--first:last-child {
  margin-bottom: 0;
}

.main__project-title {
  margin: 20px 0 10px;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
}

.main__project-title:hover {
  opacity: .6;
}

.main__project-title:after,
.main__resume:after {
  font-family: FontAwesome;
  font-size: 12px;
  position: relative;
  bottom: .2ex;
  margin-left: 20px;
  content: "";
  color: #462373;
}

.main__resume {
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
  margin: 0;
}

.main__resume:hover,
.main__resume:hover a {
  opacity: .6;
}

.main__resume:first-child {
  margin-top: 3px;
}

.main__resume a {
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
}

.main__list {
  clear: both;
  padding: 0;
  list-style-type: none;
}

.main__list-item {
  font-weight: 700;
  margin-bottom: 10px;
}

.main__list-item:before {
  font-family: FontAwesome;
  font-size: 8px;
  position: relative;
  bottom: .2ex;
  margin-right: 20px;
  content: "";
  color: #462373;
}

@media (min-width:1024px) {
  .main__tag {
    float: left;
    clear: both;
    width: 80px;
  }

  .main__tag {
    margin: 5px 30px 0 0;
  }

 {
    margin-left: 110px;
  }

  .main__list {
    float: left;
    margin: 20px 0 0 110px;
  }

  .main__experience {
    max-width: 500px;
    margin-left: 110px;
  }

  .main__experience:first-of-type {
    margin-top: 3px;
  }

  .main__resume {
    margin-left: 110px;
  }
}

@media (min-width:768px) {
  .container-info {
    padding-top: 0;
  }

  .main__container-resume {
    margin-bottom: 80px;
  }

  .main__copy a {
    font-weight: 400;
    padding: 0 4px 2px;
    -webkit-transition: background-color .3s,border-color .3s;
    transition: background-color .3s,border-color .3s;
    border-bottom: 2px solid #462373;
  }

  .main__copy a:hover {
    color: #fff;
    border-color: #fff;
    background-color: #462373;
  }

  .container-info {
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 40%;
    height: 100%;
  }

  .container-main {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 55%;
    height: 100%;
  }
}
